/*For Desktop Screens1280px++*/




html {
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: 'Rubik' ,-apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
  line-height: 0;
}

h1 {
  font-size: 5rem;
  letter-spacing: -4px;
  font-weight: 500;
  line-height: 1.4;

}

h2 {
  line-height: 1.4;
}

h3 {
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -2px;
}

h4 {
  line-height: 1.7;
  font-weight: 500;
}

video {
  width: 40rem;
}

p {
  line-height: 1.8;
}

.top4 {
  padding-top: 4rem; 
}
.menuLink {
  color: black;
  text-decoration: none;
}

.mainMenu {
  top: 0px;
  left: 0px;
  width: 100vw;
  position: fixed;
  padding: 20px;
  z-index: 9000;
  background-color: white;

}

.rightMenu {
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 90001;
  padding: 20px;
}


.mainContainer {
  z-index: 1;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: center;

}

.herocontainer {
width: 100vw;
}

.heroHeaderText{
  top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 240px;
  width: 100%;
}
 .fullWidthImg {
  width:80rem;
 }

.coolBackground{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.mainContentContainer{
  align-items: top;
  top: 0;
  margin-top: 0;
  padding-top: 0; 
  position: relative;

  flex-direction: column;

  text-align: left;

  width: calc(100vw - 4rem);
}

.about {
  width: 50vw;

  max-width: 640px;
  min-width: 320px;
  box-sizing: border-box;
}

.aboutText { 
  padding-left: 2.5rem;

}

.primary-button {
  height: 4.5rem;
  padding: 0 2rem 0 2rem;
  font-size: 2rem;
  color: black;
  background: none;
  border: none;
  font-weight: 700;

}

.primary-button:hover {
  background-color: rgba(255,255,255,1);
  cursor: pointer;
}

.mainButtonContainer {
  margin-top: 1rem;
}

.c-container {
  vertical-align: middle;
  margin-left: 2rem;
  margin-top:2%;
}

.Container {
  z-index: 1;
  position: relative;
  margin: auto;
  height: auto;
  width: 100vw;
  max-width: 80rem;
  justify-content: center;
}

.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.project-card {
  
}

.project-card:hover {
  transition: all 0.25s;
  transform: scale(1.05);

}


.project-title-container {
  width: 80%;
  max-width: 1280px;
  height: auto;
  text-align: left;
  margin: 2rem auto;
  margin-top: 4rem;
}

.project-title {
  margin: 0;
  height: auto;
  margin: 2rem auto;
}

.heroSpacer {
margin-top: 80px
}

.heroImg {
  width:100vw;
  display: block;
  position: relative;
  object-fit: scale-down;
  background-size: contain;
  overflow: hidden;
}


.red {
  background-color: red;
}
/*END DESKTOP LOL*/

/*For Tablet Screens 640px - 1280px*/
@media only screen and (min-width:640px) and (max-width: 1279px) {


  h1 {
    font-size: 4rem;
  }
  .aboutText {
    padding-right: 1rem;
  }

.heroSpacer {
  margin-top: 80px
}

  video {
    width: 50vw;
    margin-top: -5rem;
  }

  .project-card {
    width: 50vw;
  }



 .fullWidthImg {
  width:100vw;
 }

 .project-title-container {
   margin: 4rem 0px 0px 2rem;

  }

  /* END TABLET*/
}

@media only screen and (min-width:640px) and (max-width: 1279px) {
height
}


/*For extra small screens*/
@media screen and (min-width:0px) and (max-width: 639px) {

  h1 {
    font-size: 1.5rem;
    letter-spacing: -1px;
  }

  .mainContentContainer{ 
    margin-top: 1rem;
  }
  
.fullWidthImg {
  width:100vw;
 }

.menuRight {
  opacity: 0;
}

.heroSpacer {
  margin-top: 0px
}

.grid-container {
    grid-template-columns: 1fr;
  }

.project-card {
    width: 100vw;

  }
.aboutVideo {
    padding: 0px 0px 0px 0px;
  }

.aboutText {
    width: 100vw;
    padding: 1rem;
  }

video {
    width: 100vw;
  }

.primary-button {
  height: 4.5rem;
  width: 12rem;
}


}   /*END SMALL SCREENS ROFL*/

/*
Test classes*/
.blue {
  background-color: blue;
  height: 800px;
}

.Singledemo {
  background-color: purple;
  height: 80rem;
  width: 80rem;
}
.heroawesometext {
  font-size: 12rem;
  text-align: center;
}

.skew {
  transform: rotate(5deg)
}
