html {
  scroll-behavior: smooth;
  font-size: 100%;

}


h1 {
  font-size: 7rem;
  letter-spacing: -5px;
  font-weight: 700;

}

h2 {
  line-height: 1.4;
}

h3 {
  font-weight: 700;
  font-size: 4rem;
}

h4 {
  line-height: 1.7;
}



.skew {
    transform: rotate(5deg)
}


.mainContainer {
  z-index: 1;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: orange;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(270deg, #00ffbd, #ff9d9d, #fffb2c, #8466ff, #f8a4f9);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 24s ease infinite;
-moz-animation: AnimationName 24s ease infinite;
animation: AnimationName 24s ease infinite;

}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.mainContentContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 320px;
  width: 100%;

}

.about {
  height: 30vh;
  width: 50vw;
  max-height: 400px;
  max-width: 640px;
  min-width: 320px;
padding: 80px 0px 0px 0px;

/*  background-color: purple;*/
}

.column {
  
}

.primary-button {
  font-size: 2rem;
  background-color: rgba(0,0,0,0);
  font-weight: 700;
  border: solid 4px;
  border-radius: 20px;
}


.mainButtonContainer {

  margin-top: 1rem;
}



.c-container {
vertical-align: middle;
margin-left: 2rem;
margin-top:2%;

}
.Container {
  z-index: 1;
  position: relative;
  margin: auto;
  height: auto;
  width: 100vw;
  max-width: 80rem;
  justify-content: center;
}
.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
 
 .project-title-container {
  width: 80%;
  max-width: 1280px;
  height: 8rem;
  text-align: left;
  margin: 0 auto;
  margin-top: 4rem;
 }

 .project-title {
  margin: 0;
 }

.project-card {

height: 25rem;

}

.wide {

}

.red {
  background-color: red;
}


/*For extra small screens*/
@media screen and (max-width: 800px) {
.grid-container {

    grid-template-columns: 1fr;
}


}
