/* 
Base components
*/

@font-face {
    font-family: 'Space Grotesk';
    font-weight: 200;
    font-display: auto;
    src:  url('/assets/fonts/SpaceGrotesk-Light.woff2') format('woff2'),
    url('/assets/fonts/SpaceGrotesk-Light.woff') format('woff');
         
  }
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-display: auto;
    src:  url('/assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('/assets/fonts/SpaceGrotesk-Regular.woff') format('woff');
         
  }
  
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-display: auto;
    src:  url('/assets/fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('/assets/fonts/SpaceGrotesk-Medium.woff') format('woff');
         
  }
  
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 600;
    font-display: auto;
    src:  url('/assets/fonts/SpaceGrotesk-Semibold.woff2') format('woff2'),
    url('/assets/fonts/SpaceGrotesk-Semibold.woff') format('woff');
         
  }
  
  
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-display: auto;
    src:  url('/assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('/assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
         
  }
  
  
  html {
    scroll-behavior: smooth;
  font-family: "Space Grotesk";
  transition: all 0.3s;
  }
  body {
    margin: 0;
  }
  
  canvas {
    width: 100%;
    height: 100vh;
    z-index: -2;
    /* opacity: 0.7; */
    margin-bottom: -6px;
  }
  
  
  h1 {
  font-size: 10rem;
  line-height: 1.25;
  margin: 0;
  font-weight: 700;
  letter-spacing: -4px;
  
  }
  i {
  opacity: 0.75;
  }
  
  a {
      text-decoration: none;
      color: blue;
  
  transition: all 0.3s;
  
  }
  
  h2 {
      font-size: 4rem;
      font-weight: 500;
      letter-spacing: -2px;
        margin: 0;
        line-height: 1.25;
        padding-top: 2rem;
  }


  aside {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
  }

  ul {
      padding: 0;
      margin: 0;
  }
  li {
      list-style: none;
  }


  .links {
      font-size: 2rem;
 
  }
  /* 
  hero components
  */
  .hero {
      width: 100%;
    height: 100vh;
    position: absolute;
  }
  
  .primary-container {
      position: absolute;
      z-index: 1;
      margin: 4rem;
  }
  .secondary-container {
      bottom: 0;
      margin: 4rem;
      position: absolute;
   z-index: 1;
      
  }

  .hero-link {


    line-height: 1.25;
    padding-bottom: 1rem;
    transition: all 0.5s;
    transform-origin: left;
}
.hero-link a {
    color: black;
}
.hero-link:hover {
    transform: scale(1.15, 1.25);

}
    /* 
  about components
  */


.container-about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
 
    margin: 0;
    padding: 0;
}
.container-about-grid div:nth-child(2){
    margin: 4rem;
}

.container-about-grid div video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.list-title {
    margin-top: 5rem;
    font-size: 2rem;
}
.list {
    font-size: 2rem;
    line-height: 1.5;
}

.container-summary {
    background-color: #fff;
}
.container-summary-grid {
max-width: 1600px;
height: 400px;
padding: 4rem auto;
margin: 4rem auto;
color: black;
text-align: center;
}




  @media only screen and (max-width: 1920px) {
      h1 {
          font-size: 8rem;
          letter-spacing: -2px;
      }
      h2 {
          padding-top: 2.5rem;
          font-size: 3rem;
          letter-spacing: -1px;
      }
      .secondary-container {
          margin-top: 2rem;
      }
  
  }
  
  @media only screen and (max-width: 1600px) {
      h1 {
          font-size: 7rem;
          letter-spacing: -2px;
      }
      h2 {
          padding-top: 2rem;
          font-size: 2.5rem;
       
      }
      .secondary-container {
          margin-top: 2rem;
      }
  
  }
  
  @media only screen and (max-width: 1280px) {
      h1 {
          font-size: 8rem;
          letter-spacing: -2px;
      }
      h2 {
          padding-top: 2rem;
          font-size: 3rem;
      }
      .primary-container, .secondary-container {
          margin: 3rem;
      }

.container-about-grid { 
    grid-template-columns: 1fr;
}
  
  }
  
  @media only screen and (max-width: 768px) {
      h1 {
          font-size: 6.5rem;
          letter-spacing: -2px;
      }
      h2 {
          padding-top: 2rem;
          font-size: 3rem;
      }
      .primary-container, .secondary-container {
          margin: 3rem;
      }
      .links {
        line-height: 2.5;
      }

  
  }
  
  @media only screen and (max-width: 500px) {
      h1 {
          font-size: 3.25rem;
          letter-spacing: -2px;
      }
      h2 {
          padding-top: 1rem;
          font-size: 1.75rem;
  
          letter-spacing: -0.5px;
      }
      aside {
          margin-bottom: 0;
      }
      .primary-container, .secondary-container {
          margin: 1rem;
      }
      .secondary-container {
          margin-bottom: 9rem;
      }

      .container-about-grid div:nth-child(2){
        margin: 1.5rem;
    }

    .links {
        font-size: 1.25rem;
       
    }
    .list-title {
        font-size: 1.25rem;
    }
    .list {
        font-size: 1.25rem;
        line-height: 1.25;
    }
  }
  
  
  @media only screen and (max-width: 320px) {
      h1 {
          font-size: 2.5rem;
          letter-spacing: -2px;
      }
      h2 {
          font-size: 1.5rem;
          letter-spacing: -0.6px;
      }
      .primary-container, .secondary-container {
          margin: 1rem;
      }
      .secondary-container {
          margin-bottom: 6rem;
      }
  
  }  
  
  
  
  .placeholder {
    width: 100vw;
    height: 100vh;
    background-color: plum;
    display: grid;
}
.placeholderTitle {
    display: grid;
    place-self: center;
    font-size: 4rem;
    filter: invert(100%);

}
.placeholder2 {
    width: 100vw;
    height: 100vh;
    background-color: purple;
    display: grid;
}

