/* 
Base components
*/

@font-face {
  font-family: "Space Grotesk";
  font-weight: 200;
  font-display: fallback;
  src: url("/assets/fonts/SpaceGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-display: fallback;
  src: url("/assets/fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-display: fallback;
  src: url("/assets/fonts/SpaceGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-display: fallback;
  src: url("/assets/fonts/SpaceGrotesk-Semibold.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-display: fallback;
  src: url("/assets/fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("/assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
}

html {
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, sans-serif;
  text-rendering: optimizeLegibility;
  transition: all 0.3s;
  scroll-behavior: auto;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

canvas {
  width: 100%;
  height: 120vh;
  z-index: 2;
  opacity: 0.4;
  margin-bottom: -6px;
  position: fixed;
}

.main-nav {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.55);
  position: sticky;
  top: 0;
  z-index: 5;
}



h1.main-nav-title {
  font-size: 1.2rem;
  letter-spacing: -0.1px;
  font-weight: 500;
}

.main-nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.safariHack {
  z-index: 30;
  position: absolute;
  width: 100%;
}

h1 {

  font-size: 5rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
  line-height: 1.5;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.5;
}

i {
  color: rgb(232, 232, 232);
}

p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 200;
}

q {
  font-weight: 200;
}

a {
  text-decoration: none;

  color: rgb(180, 187, 250);
  line-height: 0;
  transition: all 0.15s;
}

a:hover {
  text-decoration: underline;
}

aside {
  font-size: 1.5rem;
}

ul {
  padding: 0;
  margin: 0;
}

/* li {
  list-style: none;
} */
.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.about h1 {
  margin: 2rem 0 4rem 0;
  font-size: 3rem;
  text-align: center;
}

.about-group {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2.5rem;
  border-radius: 32px;
  margin-bottom: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
}

.about-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1;
}

.about-group p {
  list-style: disc;
}

.about-group aside {
  color: rgb(178, 178, 178);
  font-size: 1rem;
}



.about-media-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.about-media-item:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.5rem;

}

.about-media-item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.links {
  font-size: 2rem;
}

.BR-mobile-only {
  display: none;
}

/* 
  hero components
  */


.primary-container {
  margin-bottom: 2rem;
}

.secondary-container {
  bottom: 0;
  margin: 4rem;
  position: absolute;
  z-index: 1;
}

.hero-title {
  text-align: left;
  font-weight: 300;
  word-break: keep-all;
  white-space: wrap;

}

.hero-link {
  padding-top: 2.5rem;
  line-height: 1.25;
  padding-bottom: 1rem;
  transition: all 0.2s;
  transform-origin: left;
}

.hero-link a {
  color: black;
}



/* 
//disgusting hack to remove the menu overflow
*/

/* 
@media screen and (min-width: 1920px) and (max-height: 1080px) {
	canvas {
		min-height: 1080px;
	}
	.secondary-container {
		position: relative;
		z-index: 1;
		top: 30rem;
	}
}

@media screen and (min-width: 1280px) and (max-height: 768px) {
	canvas {
		min-height: 768px;
	}
	.secondary-container {
		position: relative;
		z-index: 1;
		top: 25rem;
	}
}

@media screen and (min-width: 768px) and (max-height: 1024px) {
	canvas {
		min-height: 768px;
	}
	.secondary-container {
		position: relative;
		z-index: 1;
		top: 25rem;
	}
} */

/* 
  about components
  */
.container-about {
  display: block;
}

.container-about-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0rem;
  margin: 0;
  padding: 0;
}

.about-potato {
  padding: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.about-constrain {
  max-width: 1000px;

}

.container-about-grid-content {
  margin: 4rem;
  margin-top: 32vh;
}

.container-about-hero {
  position: relative;
  padding: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  ;
}

container-about-hero .list-title {
  margin-top: 5rem;
  font-size: 2rem;
}

.list {
  font-size: 2rem;
  line-height: 1.5;
}

.container-summary {
  text-align: center;
  margin: 1rem;
}

.container-summary h2 {
  padding-top: 0;
}

.container-summary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  margin: 4rem auto;
  max-width: 1200px;
}



.container-summary-grid img {
  width: 100%;
}

/* 
stupid crap grid 
*/

.project-title-container {
  height: auto;
  margin: 2rem auto;
  padding: 2rem 0;
  text-align: left;
}



.project-grid-mega {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1920px;
  margin: 0 auto;
}

.project-title {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 600;
}

.project-container {
  margin: 0 auto;
  width: 90vw;
  max-width: 1920px;
  padding: 4rem 2rem 0 2rem;
}

.project-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1920px;
  margin: 0 auto 10rem auto;
  column-gap: 4rem;
  row-gap: 6rem;
}

.project-card-title {
  line-height: 1;
  margin-bottom: 1rem;
}

.project-card-content {
  font-size: 1.25rem;
}

.project-card {
  width: 100%;
  overflow: hidden;
  transition: all 0.25s;
  object-fit: cover;
  border-radius: 32px 32px 0 0;
}

.project-card-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 40px rgb(0 0 0 / 25%);
  border-radius: 32px;
}

.project-card-text {
  padding: 2.5rem;
}

/* //projects */

.container-project-grid {
  display: grid;
  grid-template-columns: 27rem 1fr;
  max-width: 1920px;
  margin: 0 auto;
  column-gap: 2.5rem;
  padding: 2.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 32px 32px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);

}

.container-project-content {
  max-width: 1000px;
  display: grid;
  align-content: space-between;
}


.container-project-content p {
  font-size: 1.25rem;
}

.container-project-img-1 {
  margin: 0 auto;
  width: 100%;
  display: block;
  max-width: 1920px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: none;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
}


.project-info-side {
  color: #555;
}

.project-link {
  padding: 0.5rem 0;
}

/* @media only screen and (min-width: 1920px) {
    .project-grid-container {
        
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    }
} */


.quote {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 4rem;
}

.quote-container {
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 32px;
  box-sizing: border-box;
  padding: 2.5rem
}

.quote-boy {
  font-size: 1.5rem;
  color: white;
}

q::before, q::after {
  font-size: 2rem;
}

.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2.5rem;
}

.skill-tag {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 120px;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: rgb(212, 212, 212);
}

@media only screen and (max-width: 1920px) {
  h1 {
    font-size: 4rem;
    letter-spacing: -0.5px;
  }

  h2 {
    font-size: 3rem;
    letter-spacing: -1px;
  }

  .secondary-container {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1600px) {
  .container-project-content {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 2.5rem;
  }
}

@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -1px;
  }



  .secondary-container {
    margin-top: 2rem;
  }

  .hero-link {
    padding-top: 1.5rem;
  }

  .project-card-content {
    font-size: 1.25rem;
  }

}

@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 2.5rem;
  }

  .hero-link {
    padding-top: 2rem;
  }

  .container-project-grid {
    column-gap: 2rem;
  }

  .container-about-grid-content {
    order: -1;
  }

  .project-container {
    width: auto;
    margin: 1.5rem;
    padding: 0;
  }


}

.container-project-template-1 {
  margin: 0 auto;
  padding: 2.5rem 4rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  .secondary-container {
    position: relative;
    display: block;
    z-index: 1;
    top: 15rem;
  }

  .project-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .container-project-grid {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    margin-top: 0;
  }

  .container-about-grid {
    grid-template-columns: 1fr;
  }

  .container-project-template-1 {
    padding: 2rem;
  }

  .quote {
    padding: 0rem;
  }

  .container-summary {
    text-align: left;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .container-about-hero br {
    display: none;
  }

  .container-project-img-1 {
    padding: 0 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .main-nav-menu {
    display: none;
  }

  .links {
    line-height: 2.5;
  }

  .container-project-template-1 {
    padding: 2rem 0rem;
  }

  .container-project-grid {

    margin: 0rem 1.5rem;
  }

  .project-grid-container {
    grid-template-columns: 1fr;
  }

  .project-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 601px) {

  .container-about-hero {
    padding: 2rem;
  }

  .container-about-hero br {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }

  .about {
    padding: 0.5rem;
  }

  .about-group {
    border-radius: 16px;
    margin-bottom: 1rem;
  }

  .about-potato {
    padding: 0;
    margin: 1.5rem;
  }

  .hero-title {
    margin-top: 0;
    text-align: left;
  }

  h2 {
    font-size: 2.5rem;
    letter-spacing: -0.5px;
  }

  p {
    font-size: 1.2rem;
  }

  .secondary-container {
    top: 10rem;
    bottom: initial;
    position: relative;
  }

  .hero-link {
    padding-top: 1rem;
  }

  .hero {
    min-height: 600px;
  }

  canvas {
    min-height: 600px;
  }

  aside {
    margin-bottom: 0;
  }

  .secondary-container {
    margin-bottom: 12rem;
  }

  .container-about-grid {
    padding: 2rem;
  }

  .container-about-grid-content {
    margin: initial;
    margin-bottom: 2rem;
  }

  .project-grid-container {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin: 0;
  }

  .project-card-text {
    padding: 1.5rem;
  }

  .container-project-template-1 {
    padding: 0rem;
  }

  .container-project-img-1 {
    padding: 0;
    border-radius: 0;
  }

  .container-project-grid {
    margin: 0;
    border-radius: 0;
    padding: 1.5rem;
  }

  .links {
    font-size: 1.25rem;
  }

  .list-title {
    font-size: 1.25rem;
  }

  .list {
    font-size: 1.25rem;
    line-height: 1.25;
  }


  .container-summary {
    margin: 2rem;
  }



  .project-card:hover {
    transform: none;
  }

  .BR-mobile-only {
    display: block;
  }

  .project-title {
    font-size: 3.5rem;
  }

  .quote-container {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }



  .hero-title {
    margin-top: 0rem;
    text-align: left;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: -0.6px;
  }

  .secondary-container {
    margin-bottom: 6rem;
  }

  .about-group {
    padding: 1rem;
  }

  .container-project-grid {
    padding: 1rem;
  }

  .about-potato {
    margin: 1rem;
  }

  .container-about-hero {
    padding: 1rem;
  }
}




.project-info-side {
  color: rgb(212, 212, 212);
}